@import "tailwindcss";

*{
     scroll-behavior: smooth;
}

.active hr{
    @apply  block
}

::-webkit-scrollbar{
    @apply hidden
}
@media (max-width:740px) {
    .active p{
        @apply text-white bg-blue-700 my-3
    }
}